[pyrogram]
api_id = [DATA EXPUNGED]
api_hash = [DATA EXPUNGED]

[plugins]
root = plugins
include =
    handlers.callback
    handlers.command
    handlers.message

[proxy]
enabled = False
hostname = 127.0.0.1
port = 1080

[basic]
bot_token = [DATA EXPUNGED]
prefix = /!

[bots]
avatar_id = [DATA EXPUNGED]
captcha_id = [DATA EXPUNGED]
clean_id = [DATA EXPUNGED]
lang_id = [DATA EXPUNGED]
long_id = [DATA EXPUNGED]
noflood_id = [DATA EXPUNGED]
noporn_id = [DATA EXPUNGED]
nospam_id = [DATA EXPUNGED]
recheck_id = [DATA EXPUNGED]
tip_id = [DATA EXPUNGED]
user_id = [DATA EXPUNGED]
warn_id = [DATA EXPUNGED]

[channels]
captcha_group_id = [DATA EXPUNGED]
critical_channel_id = [DATA EXPUNGED]
debug_channel_id = [DATA EXPUNGED]
exchange_channel_id = [DATA EXPUNGED]
hide_channel_id = [DATA EXPUNGED]
test_group_id = [DATA EXPUNGED]

[custom]
aio = False
backup = False
captcha_link = [DATA EXPUNGED]
date_reset = 1st mon
default_group_link = https://t.me/SCP_079_DEBUG
font_chinese = /usr/share/fonts/truetype/arphic-gkai00mp/gkai00mp.ttf
font_english = /usr/share/fonts/truetype/freefont/FreeMono.ttf
font_number = /usr/share/fonts/truetype/freefont/FreeMono.ttf
limit_mention = 20
limit_static = 10
limit_track = [DATA EXPUNGED]
limit_try = [DATA EXPUNGED]
more = True
more_link = https://t.me/SCP_079
more_text = 了解本机器人项目
noise = [DATA EXPUNGED]
project_link = https://scp-079.org/captcha/
project_name = SCP-079-CAPTCHA
simple = False
simple_only = False
time_captcha = 240
time_invite = [DATA EXPUNGED]
time_new = [DATA EXPUNGED]
time_punish = 600
time_recheck = [DATA EXPUNGED]
time_remove = 300
time_short = [DATA EXPUNGED]
time_track = [DATA EXPUNGED]
zh_cn = [DATA EXPUNGED]

[emoji]
emoji_ad_single = [DATA EXPUNGED]
emoji_ad_total = [DATA EXPUNGED]
emoji_many = [DATA EXPUNGED]
emoji_protect = [DATA EXPUNGED]
emoji_wb_single = [DATA EXPUNGED]
emoji_wb_total = [DATA EXPUNGED]

[encrypt]
key = [DATA EXPUNGED]
password = [DATA EXPUNGED]
