[pyrogram]
api_id = [DATA EXPUNGED]
api_hash = [DATA EXPUNGED]

[plugins]
root = plugins
include =
    handlers.callback
    handlers.command
    handlers.message

[proxy]
enabled = False
hostname = 127.0.0.1
port = 1080

[basic]
bot_token = [DATA EXPUNGED]
prefix = /!

[bots]
avatar_id = [DATA EXPUNGED]
captcha_id = [DATA EXPUNGED]
clean_id = [DATA EXPUNGED]
index_id = [DATA EXPUNGED]
lang_id = [DATA EXPUNGED]
long_id = [DATA EXPUNGED]
noflood_id = [DATA EXPUNGED]
noporn_id = [DATA EXPUNGED]
nospam_id = [DATA EXPUNGED]
tip_id = [DATA EXPUNGED]
user_id = [DATA EXPUNGED]
warn_id = [DATA EXPUNGED]

[captcha]
captcha_link = [DATA EXPUNGED]
font_chinese = /usr/share/fonts/truetype/arphic-gkai00mp/gkai00mp.ttf
font_english = /usr/share/fonts/truetype/freefont/FreeMono.ttf
font_number = /usr/share/fonts/truetype/freefont/FreeMono.ttf
noise = 0.4

[channels]
captcha_group_id = [DATA EXPUNGED]
critical_channel_id = [DATA EXPUNGED]
debug_channel_id = [DATA EXPUNGED]
exchange_channel_id = [DATA EXPUNGED]
hide_channel_id = [DATA EXPUNGED]
logging_channel_id = [DATA EXPUNGED]
test_group_id = [DATA EXPUNGED]

[custom]
default_group_link = https://t.me/SCP_079_DEBUG
leave_button = 申请使用
leave_link = https://scp-079.org/ApplyForUse/
leave_reason = 需要授权方可使用
more = True
more_link = https://scp-079.org/readme/
more_text = 点击了解本项目
project_link = https://scp-079.org/captcha/
project_name = SCP-079-CAPTCHA

[emoji]
emoji_ad_single = 15
emoji_ad_total = 30
emoji_many = 15
emoji_protect = \U0001F642
emoji_wb_single = 10
emoji_wb_total = 15

[encrypt]
key = [DATA EXPUNGED]
password = [DATA EXPUNGED]

[language]
lang = cmn-Hans
normalize = True

[limit]
limit_flood = 10
limit_mention = 20
limit_track = 8
limit_try = 2

[mode]
aio = False
backup = False
failed = False
simple = False
simple_only = False

[time]
date_reset = 1st mon
time_captcha = 240
time_invite = 1800
time_new = 1800
time_punish = 600
time_recheck = 3600
time_remove = 300
time_short = 300
time_track = 3600
