APScheduler==3.6.3
captcha==0.3
cffi==1.14.0
claptcha==0.3.3
cryptography==2.9
emoji==0.5.4
OpenCC==0.2
Pillow==7.1.1
pyaes==1.6.1
pyAesCrypt==0.4.3
pycparser==2.20
Pyrogram==0.16.0
PySocks==1.7.0
pytz==2019.3
six==1.14.0
TgCrypto==1.2.0
tzlocal==2.0.0
