APScheduler==3.7.0
async-lru==1.0.2
captcha==0.3
cffi==1.14.5
claptcha==0.3.3
cryptography==3.4.7
emoji==1.2.0
OpenCC==1.1.2
Pillow==8.2.0
pyaes==1.6.1
pyAesCrypt==6.0.0
pycparser==2.20
Pyrogram==1.2.9
PySocks==1.7.1
pytz==2021.1
PyYAML==5.4.1
six==1.16.0
TgCrypto==1.2.2
tzlocal==2.1
